.chart{
  height: 300px;
  width: 300px;
  background: #ccc;
  display: flex;
  flex-direction: column;
justify-content: center;
padding: 5px;
}

.chart ul{

  list-style: none;

}
.chart li{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;

}
.big{
  font-size: 20px;
}
